 	<div>
    <div id="ordersSection">
            <table id="ordersTable" class="table table-bordered table-striped">
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Order date</th>
            <th>OrderTotal</th>
            <tr ng-repeat="order in orders">
                <td>{{ order.orderId }}</td>
                <td>{{ order.custName }}</td>
                <td>{{ order.custAddress }}</td>
                <td>{{ order.orderDate | date:'dd-MM-yyyy' }}</td>
                <td>{{ order.orderTotal}}</td>
            </tr>
        </table>
    </div><!--ordersSection-->
</div>